name: Build Windows

on:
  push:
  pull_request:
  workflow_dispatch:

defaults:
  run: # Use powershell because bash is not supported: https://github.com/compnerd/gha-setup-swift/issues/18#issuecomment-1705524890
    shell: pwsh

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      
      - name: Setup VS Dev Environment
        uses: seanmiddleditch/gha-setup-vsdevenv@v5

      - name: Setup
        uses: compnerd/gha-setup-swift@v0.2.3
        with:
          branch: swift-6.1-release
          tag: 6.1-RELEASE

      - name: Checkout
        uses: actions/checkout@v4

      - name: Swift version
        run: swift --version

      - name: Build
        run: |
          Set-StrictMode -Version Latest
          $ErrorActionPreference = "Stop"
          $PSNativeCommandUseErrorActionPreference = $true

          swift build --product swift-bundler

      - name: Test
        run: swift test
