name: Build macOS

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Swift version
        run: swift --version

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: swift build -c release --arch arm64 --arch x86_64

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: swift-bundler
          path: ./.build/apple/Products/Release/swift-bundler
